$min-width: 280px;
$dialog-z-index: 1500;
$dialog-content-width: 570px;

body {
    font-family: 'Roboto';
    font-size: 16px;
    margin: 0;
}

@mixin screan-center {
    width: $min-width;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -($min-width / 2);
    transform: translateY(-50%);
}

#sign-in,
.decrypt-view,
.files-list {
    @include screan-center;
}

.decrypt-view {
    text-align: center;
}

.decrypt-view__header {
    position: relative;
}

.fail-to-start {
    color: red;
}

.row-first-cell {
    margin-right: 10px
}

.text-right {
    text-align: right;
}

.full-screan-dialog {
    position: fixed;
    z-index: $dialog-z-index;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;
    overflow: auto;
}

.full-screan-dialog__body {
    width: 100%;
    max-width: $dialog-content-width;
    margin: 0 auto;
}

.full-screan-dialog__title {
    padding: 24px 24px 20px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

.full-screan-dialog__content {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    padding: 24px;
}

.full-screan-dialog__actions {
    box-sizing: border-box;
    text-align: right;
    padding: 8px;
    width: 100%;
}

.file-import {
    height: 36px;
    line-height: 36px;
}

.file-import__file-name {
    vertical-align: middle;
}

.file-import__button-wrapper {
    cursor: pointer;
    position: relative;
    display: block; 
    float: right;
    overflow: hidden;
}

.file-import__input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}  

.file-import__input::webkit-file-upload-button {
    cursor: pointer;
}

.back-nav {
    padding: 5px 0;
    text-align: left;

    div {
        cursor: pointer;
        text-decoration: none;
        display: inline-block;

        > * {
            vertical-align: middle;
        }
    }
}

.back-nav__label {
    padding-left: 10px;
}

.password-hint {
    font-size: 10px;
    padding-bottom: 5px;
}

.pin-input {
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 5px;
}

.pin-input__dial-panel {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 15px;
    align-content: end;
}

.pin-input__error {
    text-align: center;
    color: red;
}

.pin-input__nums_error {
    color: red !important;
    padding-bottom: 8px !important;
}

.pin-input__nums {
    color: rgba(0, 0, 0, 0.87);
    font-size: 36px;
    text-align: center;
    padding: 30px 20px 27px 20px;
    position: relative;
}

.pin-input__num {
    padding: 0 10px;
}

.pin-input__backspace {
    position: absolute
}